<h1>Make your form here</h1>
<form method="POST" action="/pirates">
    <label>Name:</label><input type="text" name="pirate[name]" /><br/>
    <label>Weight:</label><input type="text" name="pirate[weight]" /><br/>
    <label>Height:</label><input type="text" name="pirate[height]" /><br/>

    <h1>Ship #1</h1>
    <label>Name:</label><input id="ship_name_1" type="text" name="pirate[ships][][name]" /><br/>
    <label>Type:</label><input id="ship_type_1"  type="text" name="pirate[ships][][type]" /><br/>
    <label>Booty:</label><input id="ship_booty_1"  type="text" name="pirate[ships][][booty]" /><br/>

    <h1>Ship #2</h1>
    <label>Name:</label><input id="ship_name_2"  type="text" name="pirate[ships][][name]" /><br/>
    <label>Type:</label><input id="ship_type_2"  type="text" name="pirate[ships][][type]" /><br/>
    <label>Booty:</label><input id="ship_booty_2"  type="text" name="pirate[ships][][booty]" /><br/>

    <input type="submit"  type="submit" id="submit" value="Submit" /><br/>
</form>
